<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body class="mdc-typography">
       

        <div class="mdc-layout-grid">
                <div class="mdc-layout-grid__inner">
                        <div class="mdc-layout-grid__cell--span-2">
                                <div class="mdc-card cardstyle" id="profile">
                                        {{- partial "header.html" . -}}
                              <p><img id="profileimage" src="/img/oyvind.jpg" alt="Bilde av Øyvind"></p>
                              <p>Dette er mitt personlige nettsted hvor jeg deler innhold jeg produserer. Foreløbig er det bare ett bildegalleri her, men det kommer plutselig mere.</p>
                              
                           
                          
                              
                              </div>
                              <div class="mdc-card cardstyle">
                                   <ul class="menu">
                                        <li>
                                                <a href="/"><div class="mdc-button">
                                                     <i class="material-icons">
                                                     home
                                                     </i>
                                                   <span class="mdc-button__label">oyvindmal.no</span>
                                                 </div></a>
                                             </li>
                                       <li>
                                           <a href="/galleries"><div class="mdc-button">
                                                <i class="material-icons">
                                                photo_camera
                                                </i>
                                              <span class="mdc-button__label">Bildegalleri</span>
                                            </div></a>
                                        </li>

                                   </ul>
                              </div>
                              <div class="mdc-card cardstyle">
                                    <p>Alle bilder på denne nettsiden er beskyttet av åndsverkloven og bruk av bilder må ikke skje uten samtykke på forhånd.</p>
                              </div>
                              <div class="mdc-card cardstyle">
                                    {{- partial "footer.html" . -}}
                              </div>
                          
                          </div>
                          {{if or (eq .Section "galleries") (eq .Data.Plural "tags") (eq .Data.Plural "locations")}}
                            <div class="mdc-layout-grid__cell--span-8">

                          {{else}}

                          <div class="mdc-layout-grid__cell--span-10">
                        {{ end }}

                      {{- block "main" . }}{{- end }}
                      
                    </div>
                    {{if or (eq .Section "galleries") (eq .Data.Plural "tags") (eq .Data.Plural "locations")}}
                    <div class="mdc-layout-grid__cell--span-2">
                            

                            <div class="mdc-card cardstyle" >
                                <h4>Tagger</h4>
                                <div class="mdc-chip-set">
                                    {{  range .Site.Taxonomies.tags.ByCount}}
                                    <div class="mdc-chip" tabindex="0">
                                           
                                      <div class="mdc-chip__text"><a href="/tags/{{.Term}}">{{ .Term }}</a></div>
                                      
                                    </div>
                                    {{ end }}
                                    
                                  </div>
                            
                                </div>

                                
                            <div class="mdc-card cardstyle" >
                                <h4>Lokasjoner</h4>
                                <div class="mdc-chip-set">
                                    {{  range .Site.Taxonomies.locations.ByCount}}
                                    <div class="mdc-chip" tabindex="0">
                                           
                                      <div class="mdc-chip__text"><a href="/locations/{{.Term}}">{{ .Term }}</a></div>
                                      
                                    </div>
                                    {{ end }}
                                    
                                  </div>
                            
                                </div>
                            </div>
                     
                      </div>

                      {{ end }}
            
                </div>
              </div>
        
     
        
    </body>
</html>
