<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body class="mdc-typography">
       

        <div class="mdc-layout-grid">
                <div class="mdc-layout-grid__inner">
                        <div class="mdc-layout-grid__cell--span-2">
                                <div class="mdc-card cardstyle" id="profile">
                                        {{- partial "header.html" . -}}
                              <p><img id="profileimage" src="/img/oyvind.jpg" alt="Bilde av Øyvind"></p>
                              <p>Dette er mitt personlige nettsted hvor jeg deler innhold jeg produserer. Foreløbig er det bare ett bildegalleri her, men det kommer plutselig mere.</p>
                              
                           
                          
                              
                              </div>
                              <div class="mdc-card cardstyle">
                                   <ul class="menu">
                                        <li>
                                                <a href="/"><div class="mdc-button">
                                                     <i class="material-icons">
                                                     home
                                                     </i>
                                                   <span class="mdc-button__label">oyvindmal.no</span>
                                                 </div></a>
                                             </li>
                                       <li>
                                           <a href="/galleries"><div class="mdc-button">
                                                <i class="material-icons">
                                                photo_camera
                                                </i>
                                              <span class="mdc-button__label">Bildegalleri</span>
                                            </div></a>
                                        </li>

                                   </ul>
                              </div>
                              <div class="mdc-card cardstyle">
                                    <p>Alle bilder på denne nettsiden er beskyttet av åndsverkloven og bruk av bilder må ikke skje uten samtykke på forhånd.</p>
                              </div>
                              <div class="mdc-card cardstyle">
                                    {{- partial "footer.html" . -}}
                              </div>
                          
                          </div>
                          {{if eq .Section "galleries"}}
                  <div class="mdc-layout-grid__cell--span-8">
                        {{ end }}

                        {{if ne .Section "galleries"}}
                        <div class="mdc-layout-grid__cell--span-10">
                              {{ end }}
                      {{- block "main" . }}{{- end }}
                      
                    </div>
                    {{if eq .Section "galleries"}}
                    <div class="mdc-layout-grid__cell--span-2">
                            <div class="mdc-card cardstyle" >
                                <h4>Bla i bilder basert på </h4>
                                    <ul class="menu">
                                            <li>
                                                    <a href="/locations"><div class="mdc-button">
                                                       <span class="mdc-button__label">Lokasjoner</span>
                                                     </div></a>
                                                 </li>
                                           <li>
                                               <a href="/tags"><div class="mdc-button">
                                                  <span class="mdc-button__label">Tagger</span>
                                                </div></a>
                                            </li>
    
                                       </ul>
                            </div>
                     
                      </div>

                      {{ end }}
            
                </div>
              </div>
        
     
        
    </body>
</html>
