{{ define "main" }}
<div class="mdc-card cardstyle">
    <h2>Nyeste bildegallerier</h2>
    <p>Bla i bilder:</p>
    <div class="mdc-chip-set">
         
            <div class="mdc-chip" tabindex="0">
                    <div class="mdc-chip__text"><a href="/galleries">Alle</a></div>
                  </div>

                  <div class="mdc-chip" tabindex="0">
                        <div class="mdc-chip__text"><a href="/tags">Tagger</a></div>
                      </div>
            <div class="mdc-chip" tabindex="0">
              <div class="mdc-chip__text"><a href="/locations">Lokasjoner</a></div>
            </div>
           
            
          </div>
</div>
{{ range first 5 .Pages }}
{{ if ne .Section "pages" }}
<div class="mdc-card cardstyle" >
  <h1 class="mdc-typography--headline4">{{.Title}}
      <span class="mdc-typography--subtitle1">
    {{if eq .Section "galleries"}}
    
        
    {{ end }}

    {{if eq .Section "blogposts"}}
        Bloggpost
    {{ end }}
  </span>
  </h1>
  <img style="width:600px;" src="https://res.cloudinary.com/diqqj8zmu/image/upload/w_600{{.Params.frontimage}}" />
  {{.Summary}}
  <div class="mdc-card__actions">
      <div class="mdc-card__action-buttons">
        <a href="{{.Permalink}}"class="mdc-button mdc-card__action mdc-card__action--button">
          <span class="mdc-button__label">Vis &raquo;</span>
        </a>
       
      </div>
      
    </div>
 
</div>
{{ end }}
{{ end }}
{{ end }}