{{ define "main" }}
<div class="mdc-card cardstyle">
    <h2>Bildegallerier sortert på tagger</h2>
    <p>Bla i bilder:</p>
    <div class="mdc-chip-set">
         
            <div class="mdc-chip" tabindex="0">
                    <div class="mdc-chip__text"><a href="/galleries">Alle</a></div>
                  </div>

            <div class="mdc-chip" tabindex="0">
              <div class="mdc-chip__text"><a href="/locations">Lokasjoner</a></div>
            </div>
           
            
          </div>
</div>
<div class="mdc-card"  style="margin:10px; padding:10px;">



<div class="mdc-chip-set">
        {{ range .Pages }}
        <div class="mdc-chip" tabindex="0">
               
          <div class="mdc-chip__text"><a href="{{.Permalink}}">{{ .Title }}</a></div>
          
        </div>
        {{ end }}
        
      </div>

    </div>
{{ end }}