{{ define "main" }}
<div class="mdc-layout-grid">
        <div class="mdc-layout-grid__inner">
                        <div class="mdc-layout-grid__cell--span-10">
<div class="mdc-card">
        
        {{ $postCount := len .Params.urls }}
  
        <div style="padding-left:10px;">
            <h2>{{.Title}} ({{ $postCount}} bilder)</h2>
                <ul>
                        {{range .Params.Location}}
                        <li>{{.}}</li>
                    {{ end }}
                </ul>
            <script src="https://360player.io/static/dist/scripts/embed.js" async></script>
                    {{ range .Params.urls}}
                    <div style="display:block; margin-bottom:10px;">
                                <iframe src="https://360player.io/p/{{.}}/"   frameborder="0" width=560 height=315 allowfullscreen data-token="{{.}}"></iframe>
                    </div>
                    {{ end }}
            
            </div>

</div>
</div>
</div>
</div>

{{ end }}

