{{ define "main" }}
<div class="mdc-layout-grid">
        <div class="mdc-layout-grid__inner">
                        <div class="mdc-layout-grid__cell--span-10">
<div class="mdc-card">
        
        {{ $postCount := len .Params.images }}
  
        <div style="padding-left:10px;">
            <h2>{{.Title}} - {{.Params.Location}} ({{ add $postCount 1}} bilder)</h2>

            <ul id="galleryList">
                {{ range .Params.images}}
                <li><img src="https://res.cloudinary.com/diqqj8zmu/image/upload/w_250,h_250,c_fill{{.}}"></li>
                {{ end }}
            </ul>
            </div>

</div>
</div>
</div>
</div>

{{ end }}

