{{ define "main" }}
<div class="mdc-card" style="margin:20px; padding:10px;">
  <p>Foreløbig er det bare ett bildegalleri her.</p>
</div>
            {{ range .Pages }}
            {{ if ne .Section "pages" }}
            <div class="mdc-card" style="margin:20px; padding:10px;">
              <h1 class="mdc-typography--headline4">{{.Title}}
                  <span class="mdc-typography--subtitle1">
                {{if eq .Section "galleries"}}
                    {{if eq .Params.layout "i360"}}
                      360-galleri

                    {{else}}
                    Bildegalleri
                    {{ end }}
                    
                {{ end }}

                {{if eq .Section "blogposts"}}
                    Bloggpost
                {{ end }}
              </span>
              </h1>
              <img style="width:600px;" src="https://res.cloudinary.com/diqqj8zmu/image/upload/w_600{{.Params.frontimage}}" />
              {{.Summary}}
              <div class="mdc-card__actions">
                  <div class="mdc-card__action-buttons">
                    <a href="{{.Permalink}}"class="mdc-button mdc-card__action mdc-card__action--button">
                      <span class="mdc-button__label">Les mer &raquo;</span>
                    </a>
                   
                  </div>
                  
                </div>
             
            </div>
            {{ end }}
        {{ end }}
  
{{ end}}