{{ define "main" }}
<div class="mdc-card cardstyle">
    <h2>Bildegallerier</h2>
  
</div>

{{ range .Pages }}
{{ $postCount := len .Params.images }}
<div class="mdc-card cardstyle">
    <h2 class="mdc-typography mdc-typography--headline5">{{.Title}} <span class="mdc-typography--subtitle2">{{ .Date.Format "2. Jan 2006" }}</span></h2>  
    {{.Content}}
    <img src="https://res.cloudinary.com/diqqj8zmu/image/upload/w_600{{.Params.frontimage}}">
   
    <a href="{{.Permalink}}" class="gallerymorebtn">
        <div class="mdc-button">
                <i class="material-icons">
                photo_camera
                </i>
              <span class="mdc-button__label">&nbsp; Se {{ add $postCount 1}} bilder</span>
            </div>
</a>
</div>
{{ end }}


{{ end}}