{{ define "main" }}

<div class="row">
        {{ range first 16 .Pages }}
        {{ if ne .Section "pages" }}
        {{ $postCount := len .Params.images }}
           
            
                <div class="col-lg-3 frontbox"  style="background-image: url(&quot;https://res.cloudinary.com/diqqj8zmu/image/upload/w_1200{{.Params.frontimage}}&quot;);"> 
                    <div class="frontboxheader">
                        <h2 class="display-4">{{.Title}}</h2>
                    </div>
                    <div class="frontboxactions">
                            <a  href="{{.Permalink}}" class="btn btn-dark">Vis {{ add $postCount 0}} bilder</a>
                    </div>
                </div>
                
        {{end}}
    {{end}}
</div>

    <div class="row">
        <div class="col-sm footbox">
            <p><a class="btn btn-dark" href="/galleries">Flere bilder</a></p>
        </div>
    </div>
  
{{ end }}