<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
            <header class="mdc-top-app-bar mdc-top-app-bar--fixed mdc-theme--secondary-bg mdc-theme--on-secondary">
                    <div class="mdc-top-app-bar__row">
                      <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
                        <h1><a href="/" class="navbarlink">&Oslash;yvind Malin - Foto </a></h1></section>
                        <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end" role="toolbar">
                                <a href="/locations" class="mdc-button navbarlink "><span class="mdc-button__label navbarlink">Lokasjoner</span></a>
                                <a href="/tags" class="mdc-button  "><span class="mdc-button__label navbarlink">Tagger</span></a>
                                
                        </section>
                    </div>
                </header>
        {{- partial "header.html" . -}}
        <div id="content"  style="padding-top:50px;">
        {{- block "main" . }}{{- end }}
        </div>
        {{- partial "footer.html" . -}}
    </body>
</html>
